:root {
    /* Takemi Theme */
    font-size: 62.5%;
    --main-color: #1b4fba;
    --secondary-color: #0b3592;
    --tritary-color: #081a45;
    --text-color: #ffffff;
    --text-color-3: #c2c2c2;
    --text-color-alt: #000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    /* Your preferred font stack */
}

html {
    scroll-behavior: smooth;

}

/* 
NAV
 */

.nav-content {

    position: fixed;

}

.nav-content i {
    font-size: 3rem;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.nav-content {
    background-color: rgb(238, 238, 238);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 1px 1px 2px rgb(10, 10, 10);
}

.nav-content ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-content li {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-content a {
    text-decoration: none;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.hero {
    background-color: var(--main-color);
    padding: 12rem 4rem;
    justify-content: center;
    display: flex;
}

.hero h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.hero p {
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2rem;
    color: var(--text-color-3);
}

.hero-button {
    padding: 1.2rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    font-size: 1.6rem;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--tritary-color);
}

.hero-button a {
    text-decoration: none;
    color: var(--text-color);
}

.hero-image {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    color: transparent;

}

.divider-1 {
    height: 100%;
    width: 100%;

    z-index: -1;
}



.testimony-logos {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 5rem;
    font-size: 5rem;
    align-items: center;
    justify-items: center;
    width: 75%;
    margin-top: 3rem;
    transition: all 0.5sec ease-in-out;
}

@media screen and (max-width: 860px) {
    .testimony-logos {
        grid-template-columns: repeat(3, auto);
    }

}

.testimony-logos svg {
    width: 75%;
    height: auto;
    fill: white;
}

.test-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content h2 {
    text-align: center;
    color: var(--text-color);
    min-width: 50%;
}

@media screen and (max-width: 860px) {
    .hero-content h2 {
        text-align: center;
        width: 65%;
    }

}

.mementos-platform {
    padding: 0 6rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.platform-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    gap: 3rem;
    
}

.platform-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.platform-info h2 {
    font-size: 1.5rem;
}

.platform-info h1 {
    font-size: 3rem;
}

.platform-info p {
    font-size: 2rem;
    max-width: 50rem;
}

.platform-button {
    display: inline-block;
    padding: 1.2rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    font-size: 1.6rem;
    max-width: 12rem;
}

.platform-button:hover,
.platform-button:focus {
    background-color: var(--tritary-color);
}

.platform-img {
    width: 100%;
    height: auto;
    max-width: 70rem;
}

.platform-button a {
    color: var(--text-color);
    text-decoration: none;
}

.platform-img img {
    width: 100%;
}

/* 
.platform-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    gap: 3rem;
    max-width: 120rem; /* Adjust max-width as needed */
}

.platform-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1; /* Allow the platform-info to grow to fill the available space */
}


*/